<button type="button" class="close mr-3 mt-2" aria-label="Close" [routerLink]="['/']">
    <span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mt-4">Adicionar novo evento</h3>

<form (ngSubmit)="createEvent()">
    <div class="container col-lg-6 text-center">
        <div class="form-group mt-2">
            <label>Descrição do evento</label>
            <input class="form-control" type="text" name="description" [(ngModel)]="event.description" required />
        </div>
        <div class="row">
            <div class="col">
                <label>Data de início</label>
                <input class="form-control" type="date" name="startDate" [(ngModel)]="event.startDate" required />
            </div>
            <div class="col">
                <label>Hora de início</label>
                <input class="form-control" type="time" name="startTime" [(ngModel)]="event.startTime" required />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Data de término</label>
                <input class="form-control" type="date" name="endDate" [(ngModel)]="event.endDate" required />
            </div>
            <div class="col">
                <label>Hora de término</label>
                <input class="form-control" type="time" name="endTime" [(ngModel)]="event.endTime" required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block m-3 col-lg-4 mx-auto">Finalizar</button>
    </div>
  </form>
